/*************************
*******Typography******
**************************/
/*************************
********Service CSS*******
**************************/
/* Licence table */
/* POPUP */
/* popup */
/*Extra added*/
body {
	font-family: Cambria;
	font-size: 14px;
	line-height: 24px;
	color: #666;
	background-color: #fff;
}
h1 {
	color: #333;
}
h2 {
	color: #333;
	font-size: 30px;
	margin-bottom: 20px;
}
h3 {
	color: #333;
	font-size: 18px;
}
h4 {
	color: #333;
}
h5 {
	color: #333;
}
h6 {
	color: #333;
}
.parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
	h1 {
		color: #fff;
	}
	h2 {
		color: #fff;
	}
	h3 {
		color: #fff;
	}
	h4 {
		color: #fff;
	}
	h5 {
		color: #fff;
	}
	h6 {
		color: #fff;
	}
	input[type="text"] {
		font-weight: 300;
		color: #fff;
		&:hover {
			font-weight: 300;
			color: #fff;
		}
	}
	input[type="email"] {
		font-weight: 300;
		color: #fff;
		&:hover {
			font-weight: 300;
			color: #fff;
		}
	}
	input[type="url"] {
		font-weight: 300;
		color: #fff;
		&:hover {
			font-weight: 300;
			color: #fff;
		}
	}
	input[type="password"] {
		font-weight: 300;
		color: #fff;
		&:hover {
			font-weight: 300;
			color: #fff;
		}
	}
	textarea {
		font-weight: 300;
		color: #fff;
		&:hover {
			font-weight: 300;
			color: #fff;
		}
	}
}
.btn {
	border: 0;
	border-radius: 0;
}
.btn.btn-primary {
	&:hover {
		background-color: #017fb5;
	}
}
.navbar-nav {
	li {
		a {
			&:hover {
				outline: none;
				outline-offset: 0;
				text-decoration: none;
				background: transparent;
			}
			&:focus {
				outline: none;
				outline-offset: 0;
				text-decoration: none;
				background: transparent;
			}
		}
	}
}
a {
	text-decoration: none;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	&:focus {
		text-decoration: none;
		outline: none;
	}
	&:hover {
		text-decoration: none;
		outline: none;
	}
}
section {
	padding: 90px 0;
}
.heading {
	padding-bottom: 10px;
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	background: #fff;
	>i {
		position: absolute;
		font-size: 36px;
		line-height: 36px;
		top: 50%;
		left: 50%;
		height: 36px;
		width: 36px;
		margin-top: -15px;
		margin-left: -15px;
		display: inline-block;
	}
}
.mobilecrypto {
	h2 {
		margin-top: -1px;
	}
}
.navbar-right {
	li {
		a {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	li.active {
		a {
			background-color: #fff;
			color: #028fcc;
		}
	}
	margin-right: 20%;
	.dropdown-menu {
		background-color: #028fcc;
		background: url(images/linear_bg_2.png);
		background-repeat: repeat-x;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#028fcc), to(#2F2727));
		background: -webkit-linear-gradient(top, #fff , #028fcc);
		background: -moz-linear-gradient(top, #fff, #028fcc);
		background: -ms-linear-gradient(top, #fff, #028fcc);
		background: -o-linear-gradient(top, #fff, #028fcc);
		color: #fff;
		li {
			margin-left: 15px;
		}
	}
}
.nav-tabs {
	>li.active {
		>a {
			background-color: #1a82f7;
			background: url(images/linear_bg_2.png);
			background-color: #5eb3c1;
			background: url(images/linear_bg_2.png);
			background-repeat: repeat-x;
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
			background: -webkit-linear-gradient(top, #fff , #0d8492);
			background: -moz-linear-gradient(top, #fff, #1a82f7);
			background: -ms-linear-gradient(top, #fff, #1a82f7);
			background: -o-linear-gradient(top, #fff, #1a82f7);
			color: #fff !important;
			background: url(images/linear_bg_2.png);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
			background: -webkit-linear-gradient(top, #fff , #1a82f7);
			background: -moz-linear-gradient(top, #fff, #1a82f7);
			background: -ms-linear-gradient(top, #fff, #1a82f7);
			background: -o-linear-gradient(top, #fff, #1a82f7);
			color: #fff !important;
			&:focus {
				background-color: #1a82f7;
				background: url(images/linear_bg_2.png);
				background-color: #5eb3c1;
				background: url(images/linear_bg_2.png);
				background-repeat: repeat-x;
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
				background: -webkit-linear-gradient(top, #fff , #0d8492);
				background: -moz-linear-gradient(top, #fff, #1a82f7);
				background: -ms-linear-gradient(top, #fff, #1a82f7);
				background: -o-linear-gradient(top, #fff, #1a82f7);
				color: #fff !important;
				background: url(images/linear_bg_2.png);
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
				background: -webkit-linear-gradient(top, #fff , #1a82f7);
				background: -moz-linear-gradient(top, #fff, #1a82f7);
				background: -ms-linear-gradient(top, #fff, #1a82f7);
				background: -o-linear-gradient(top, #fff, #1a82f7);
				color: #fff !important;
			}
			&:hover {
				background-color: #1a82f7;
				background: url(images/linear_bg_2.png);
				background-color: #5eb3c1;
				background: url(images/linear_bg_2.png);
				background-repeat: repeat-x;
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
				background: -webkit-linear-gradient(top, #fff , #0d8492);
				background: -moz-linear-gradient(top, #fff, #1a82f7);
				background: -ms-linear-gradient(top, #fff, #1a82f7);
				background: -o-linear-gradient(top, #fff, #1a82f7);
				color: #fff !important;
				background: url(images/linear_bg_2.png);
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
				background: -webkit-linear-gradient(top, #fff , #1a82f7);
				background: -moz-linear-gradient(top, #fff, #1a82f7);
				background: -ms-linear-gradient(top, #fff, #1a82f7);
				background: -o-linear-gradient(top, #fff, #1a82f7);
				color: #fff !important;
			}
		}
	}
	margin-left: 32%;
	margin-top: 33px;
	border: none !important;
	>li {
		>a {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			padding-top: 0px;
			padding-bottom: 23px;
			&:hover {
				background: url(images/linear_bg_2.png);
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
				background: -webkit-linear-gradient(top, #fff , #1a82f7);
				background: -moz-linear-gradient(top, #fff, #1a82f7);
				background: -ms-linear-gradient(top, #fff, #1a82f7);
				background: -o-linear-gradient(top, #fff, #1a82f7);
				color: #fff;
			}
		}
	}
	.dropdown-menu {
		background-color: #1a82f7;
		background: url(images/linear_bg_2.png);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
		background: -webkit-linear-gradient(top, #fff , #1a82f7);
		background: -moz-linear-gradient(top, #fff, #1a82f7);
		background: -ms-linear-gradient(top, #fff, #1a82f7);
		background: -o-linear-gradient(top, #fff, #1a82f7);
		color: #fff;
		li {
			margin-left: 15px;
		}
	}
}
.nav {
	.open {
		>a {
			background: #fff;
			color: #337ab7;
			background: url(images/linear_bg_2.png);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
			background: -webkit-linear-gradient(top, #fff , #1a82f7);
			background: -moz-linear-gradient(top, #fff, #1a82f7);
			background: -ms-linear-gradient(top, #fff, #1a82f7);
			background: -o-linear-gradient(top, #fff, #1a82f7);
			color: #fff;
			background: url(images/linear_bg_2.png);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
			background: -webkit-linear-gradient(top, #fff , #1a82f7);
			background: -moz-linear-gradient(top, #fff, #1a82f7);
			background: -ms-linear-gradient(top, #fff, #1a82f7);
			background: -o-linear-gradient(top, #fff, #1a82f7);
			color: #fff;
			&:focus {
				background: #fff;
				color: #337ab7;
				background: url(images/linear_bg_2.png);
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
				background: -webkit-linear-gradient(top, #fff , #1a82f7);
				background: -moz-linear-gradient(top, #fff, #1a82f7);
				background: -ms-linear-gradient(top, #fff, #1a82f7);
				background: -o-linear-gradient(top, #fff, #1a82f7);
				color: #fff;
				background: url(images/linear_bg_2.png);
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
				background: -webkit-linear-gradient(top, #fff , #1a82f7);
				background: -moz-linear-gradient(top, #fff, #1a82f7);
				background: -ms-linear-gradient(top, #fff, #1a82f7);
				background: -o-linear-gradient(top, #fff, #1a82f7);
				color: #fff;
			}
			&:hover {
				background: #fff;
				color: #337ab7;
				background: url(images/linear_bg_2.png);
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
				background: -webkit-linear-gradient(top, #fff , #1a82f7);
				background: -moz-linear-gradient(top, #fff, #1a82f7);
				background: -ms-linear-gradient(top, #fff, #1a82f7);
				background: -o-linear-gradient(top, #fff, #1a82f7);
				color: #fff;
				background: url(images/linear_bg_2.png);
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca5ae), to(#2F2727));
				background: -webkit-linear-gradient(top, #fff , #1a82f7);
				background: -moz-linear-gradient(top, #fff, #1a82f7);
				background: -ms-linear-gradient(top, #fff, #1a82f7);
				background: -o-linear-gradient(top, #fff, #1a82f7);
				color: #fff;
			}
		}
	}
}
.navbar-brand {
	h1 {
		margin-top: -3px;
		img {
			width: 85%;
		}
	}
}
.header {
	h2 {
		color: #fff;
		font-family: Cambria;
	}
	background: #0a0a0a;
	height: 75px;
	h1 {
		padding: 8px 0 0 43px;
		color: #fff;
		text-transform: uppercase;
		font-size: 21px;
		font-weight: bold;
		margin-left: 31%;
	}
}
.dropdown-menu {
	>li {
		>i {
			>a {
				color: #fff;
				font-size: 18px;
				text-decoration: none;
			}
		}
		>a {
			&:hover {
				background-color: #1a82f7;
				background: url(images/linear_bg_2.png);
				background-color: #5eb3c1;
			}
		}
	}
}
.service-icon {
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 36px;
	line-height: 90px;
	width: 294px;
	padding: 2px;
	border: 1px solid #fff;
	margin-left: -16px;
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}
.name {
	width: 25%;
	border: 1px solid;
}
.our-services {
	.col-sm-4 {
		&:hover {
			.service-icon {
				background-color: #333;
			}
		}
		border-right: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
		padding-bottom: 50px;
		&:nth-child(4) {
			border-bottom: 0;
			padding-top: 60px;
		}
		&:nth-child(5) {
			border-bottom: 0;
			padding-top: 60px;
		}
		&:nth-child(6) {
			border-bottom: 0;
			padding-top: 60px;
			border-right: 0;
		}
		&:nth-child(3) {
			border-right: 0;
		}
	}
	h3 {
		text-align: center;
		color: #fff;
	}
	.col-sm-1 {
		border: 1px solid;
	}
	.service-info {
		p {
			border-top: 1px solid;
			width: 291px;
			margin-left: -16px;
			height: 50px;
			padding-top: 6px;
		}
	}
}
.description {
	width: 25%;
	border: 1px solid;
}
.provider {
	width: 25%;
	border: 1px solid;
}
.action {
	width: 25%;
	border: 1px solid;
}
.service-info {
	button {
		background: #028fcc;
		border: none;
		color: #fff;
		padding: 7px;
		width: 40px;
		border-radius: 5px;
		margin: 2px;
	}
	h3 {
		margin-top: 35px;
	}
	p {
		border-top: 1px solid;
		width: 129px;
		margin-left: -16px;
		height: 75px;
	}
}
.licence-table {
	.col-sm-1 {
		width: 11%;
		border: 1px solid #ccc;
		padding: 0;
		width: 11%;
	}
	.service-icon {
		border-radius: 4px;
		color: #fff;
		display: inline-block;
		font-size: 36px;
		line-height: 90px;
		width: 133px;
		padding: 2px;
		border: 1px solid #fff;
		margin-left: -16px;
		-webkit-transition: background-color 0.2s ease;
		transition: background-color 0.2s ease;
		h5 {
			font-size: 15px;
			color: #fff;
			font-weight: bold;
		}
	}
	.service-info {
		button {
			background: #028fcc;
			border: none;
			color: #fff;
			padding: 4px;
			width: 31px;
			border-radius: 5px;
			margin: 6px;
		}
	}
	h2 {
		color: #fff;
		font-family: Cambria;
		text-transform: uppercase;
		line-height: 40px;
	}
	margin: 30px 0 30px 0;
}
.product-table {
	.service-info {
		p {
			border-top: 1px solid !important;
			border-bottom: none !important;
			width: 285px;
			margin-left: -16px;
			height: 50px;
			padding-top: 6px;
		}
	}
	.service-icon {
		border-radius: 4px;
		color: #fff;
		display: inline-block;
		font-size: 36px;
		line-height: 90px;
		width: 286px;
		padding: 2px;
		border: 1px solid #fff;
		margin-left: -16px;
		-webkit-transition: background-color 0.2s ease;
		transition: background-color 0.2s ease;
		h3 {
			color: #fff;
			font-size: 20px;
		}
	}
}
.product-head {
	border: 0px solid;
	background: #028fcc url("../images/technology_banner.png");
	margin: -3% 0 20px -13%;
	height: 237px;
	width: 1430px;
	background-size: cover;
	h2 {
		color: #fff;
		padding: 7px;
		font-family: Cambria;
		text-transform: uppercase;
	}
}
.licence-head {
	border: 0px solid;
	background: #028fcc url("../images/technology_banner.png");
	margin: -54px 0 20px -134px;
	height: 237px;
	width: 1430px;
	background-size: cover;
}
.productlist-head {
	border: 0px solid;
	background: #028fcc url("../images/technology_banner.png");
	margin: -20px 0 20px -134px;
	height: 237px;
	width: 1430px;
	background-size: cover;
	h2 {
		color: #fff;
		color: #fff;
		height: 53px;
		padding: 10px;
		line-height: 20px;
		font-family: Cambria;
		text-transform: uppercase;
	}
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0;
	.cancel {
		position: absolute;
		width: 100%;
		height: 100%;
		cursor: default;
	}
	&:target {
		visibility: visible;
		opacity: 1;
	}
}
.modal {
	margin: 100px auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 300px;
	border-radius: 6px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	position: relative;
	width: 585px;
	height: 600px !important;
	h2 {
		margin-top: 0;
	}
	.close {
		position: absolute;
		width: 24px;
		height: 12px;
		top: 11px;
		right: 53px;
		opacity: 0.8;
		transition: all 200ms;
		font-size: 35px;
		font-weight: bold;
		text-decoration: none;
		color: #777;
		&:hover {
			opacity: 1;
		}
	}
	.content {
		max-height: 400px;
		overflow: auto;
	}
	p {
		margin: 0 0 1em;
		text-align: center;
		&:last-child {
			margin: 0;
		}
	}
	button {
		background: rgba(46, 131, 193, 0.77);
		width: 60px;
		border-radius: 6px;
		height: 30px;
		margin: 7px;
		color: #fff;
		font-family: Cambria;
	}
}
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none !important;
	height: auto;
	border-radius: 0px;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: 0 3px 9px #fff !important;
	form {
		label {
			width: 32%;
			float: left;
			font-family: Cambria;
			font-size: 15px;
		}
		input[type=text] {
			background: #3484bf;
			border-radius: 8px;
			height: 35px;
			color: #fff;
			padding: 15px;
			margin-top: 3px;
		}
		input[type=date] {
			background: #3484bf;
			border-radius: 8px;
			height: 35px;
			color: #fff;
			padding: 4px;
			width: 238px;
		}
		input[type=password] {
			background: #3484bf;
			border-radius: 8px;
			height: 35px;
			color: #fff;
			padding: 15px;
			margin: 3px 0 3px 70px;
		}
		input[type=email] {
			background: #3484bf;
			border-radius: 8px;
			height: 35px;
			color: #fff;
			padding: 15px;
			margin: 3px 0 3px 70px;
		}
	}
}
.modal-header {
	background: rgba(46, 131, 193, 0.77);
	margin-top: 0px;
	color: #fff;
	margin: -50px 0 0 -21px;
}
.form-control {
	width: 40%;
	padding: 4px;
	.btn-info {
		width: 150px;
		background: #3484bf;
	}
}
.modal-footer {
	text-align: left !important;
	border: none !important;
	button {
		background: rgba(46, 131, 193, 0.77);
		width: 60px;
		border-radius: 6px;
		height: 30px;
		margin: 7px;
		color: #fff;
	}
}
#create-product {
	.modal-content {
		width: 60%;
	}
	.modal {
		width: 70%;
	}
	form {
		textarea {
			background: #3484bf;
			border-radius: 8px;
			height: 35px;
			color: #fff;
			margin: 3px 0px 0px 68px;
		}
	}
}
.social-icons {
	margin-top: 30px;
	text-align: center;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		li {
			float: left;
			margin-right: 8px;
			&:last-child {
				margin-right: 0;
			}
			a {
				color: #fff;
				background-color: #d9d9d9;
				height: 36px;
				width: 36px;
				line-height: 36px;
				display: block;
				font-size: 16px;
				opacity: 0.8;
				&:hover {
					opacity: 1;
					-webkit-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
		}
	}
}
#footer {
	color: #fff;
	margin-top: 85px;
	background-image: url(images/footerbg.png);
	background: #ccc url(../images/bgr.png) 100% !important;
	background-size: cover;
	height: 55px;
	p {
		padding-top: 18px;
		text-align: center;
	}
	.footer-bottom {
		background-color: #fff;
		padding: 10px 0 10px;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.social-icons {
		margin-top: 15px;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				a {
					background-color: rgba(0,0,0,.2);
					border-radius: 4px;
					line-height: 33px;
					&:hover {
						color: #fff;
					}
				}
				a.envelope {
					&:hover {
						background-color: #CECB26;
					}
				}
				a.facebook {
					&:hover {
						background-color: #3b5999;
					}
				}
				a.twitter {
					&:hover {
						background-color: #2ac6f7;
					}
				}
				a.dribbble {
					&:hover {
						background-color: #ff5b92;
					}
				}
				a.linkedin {
					&:hover {
						background-color: #036dc0;
					}
				}
				a.tumblr {
					&:hover {
						background-color: #ff6b00;
					}
				}
			}
		}
	}
}
.footer-top {
	position: relative;
	padding: 1px 0;
}
.footer-logo {
	display: inline-block;
	margin-bottom: 5px;
}
#product-list {
	.col-sm-3 {
		border: 1px solid #ccc;
		padding: 0;
		h3 {
			background: #028fcc;
			color: #fff;
			padding: 10px;
			margin: 0;
			font-family: Cambria;
		}
		p {
			border-top: 1px solid #ccc;
			padding: 10px;
			font-family: Cambria;
			height: 45px;
		}
	}
}
#product-list.service-icon {
	padding: 0px;
}
nav {
	margin-left: 30%;
	padding: 10px;
	ul {
		font-size: 0;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			position: relative;
			a {
				color: #fff;
				display: block;
				font-size: 13px;
				padding: 23px 21px;
				transition: 0.3s linear;
				font-family: Cambria;
				text-transform: uppercase;
				font-weight: bold;
				&:hover {
					background: #126d9b;
					color: #fff;
					text-decoration: none;
				}
			}
			&:hover {
				background: #126d9b;
				color: #fff;
			}
			ul {
				border-bottom: 5px solid #000;
				display: none;
				position: absolute;
				width: 250px;
				z-index: 999;
				li {
					border-top: 1px solid #444;
					display: block;
					&:first-child {
						border-top: none;
					}
					a {
						background: #028fcc;
						display: block;
						padding: 10px 14px;
						&:hover {
							background: #126d9b;
						}
					}
				}
			}
		}
	}
	.fa.fa-angle-down {
		margin-left: 6px;
	}
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
	font-family: Cambria;
	text-transform: uppercase;
	font-size: 20px;
}
#main-product {
	.col-sm-3 {
		border: 1px solid #ccc;
		padding: 0;
		margin-top: 50px;
	}
}
